force-app/main/default/flows/Appointment_Taker_Send_Registration_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Send_Follow_Up_Email</name>
        <label>Send Follow Up Email</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Follow_Up_Processing_Log_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Follow_Up_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >$Record.Signer_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>attendeeinfo@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Action Required: Attendee Details for your Event Registrations [REG:{!$Record.Id}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Signer_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Create_Follow_Up_Processing_Log</name>
        <label>Create Follow Up Processing Log</label>
        <locationX>314</locationX>
        <locationY>1301</locationY>
        <actionName>AttendeeProcessingLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_Follow_Up_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingType</name>
            <value>
                <stringValue>Outbound Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>$Record.Signer_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Action Required: Attendee Details for your Event Registrations [REG:{!$Record.Id}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>totalRegistrationProducts</name>
            <value>
                <elementReference>varTotalCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>Appointment_Taker_Send_Registration_Emails</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogger</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varProcessingLogId</assignToReference>
            <name>processingLogId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Follow_Up_Processing_Log_Failure</name>
        <label>Update Follow Up Processing Log Failure</label>
        <locationX>500</locationX>
        <locationY>1463</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>varFaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorCategory</name>
            <value>
                <stringValue>Email Send</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Follow_Up_Processing_Log_Success</name>
        <label>Update Follow Up Processing Log Success</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Follow_Up_Fault_Message</name>
        <label>Capture Follow Up Fault Message</label>
        <locationX>500</locationX>
        <locationY>1409</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Follow_Up_Processing_Log_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Append_Footer</name>
        <label>Append Email Footer</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Many thanks,

Connect Meetings Team
www.informaconnect.com

This electronic message and all contents transmitted with it are confidential and may be privileged. They are intended solely for the addressee. If you are not the intended recipient, you are hereby notified that any disclosure, distribution, copying or use of this message or taking any action in reliance on the contents of it is strictly prohibited. If you have received this electronic message in error, please destroy it immediately, and notify the sender.

        Informa PLC | Registered in England &amp; Wales No. 8860726 | 5 Howick Place | London | SW1P 1WG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Follow_Up_Processing_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Build_Missing_Line</name>
        <label>Build Missing Attendee Line</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varMissingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Event: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs.Event_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Registration Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Formula_Registration_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Attendee Name: 
Attendee Email: 

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Increment_Total</name>
        <label>Increment Total</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varTotalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Init_Email_Body</name>
        <label>Initialize Email Body</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >$Record.Signer_Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,

Thank you for your purchase! Please reply to this email with the attendee name and email address for each registration listed below.

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_All_Registered</name>
        <label>Are all attendees registered?</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No Follow Up Needed</defaultConnectorLabel>
        <rules>
            <name>Outcome_Missing_Attendees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMissingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Append_Footer</targetReference>
            </connector>
            <label>Missing Attendees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Missing</name>
        <label>Is Attendee Info Missing?</label>
        <locationX>534</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_OLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Missing</defaultConnectorLabel>
        <rules>
            <name>Outcome_Yes_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_OLIs.Attendee_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_OLIs.Attendee_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Missing_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >Sends follow-up registration emails when Opportunity moves to Closed Won with supported attendee-registration products and attendee details are still missing. Creates outbound processing logs and records email send failures.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Registration_Type</name>
        <dataType>String</dataType>
        <expression
    >IF({!Loop_OLIs.Product2Id} = &quot;01t4X000004U14AQAS&quot;, &quot;Non-Appointment Taker&quot;, 
IF({!Loop_OLIs.Product2Id} = &quot;01t4X000004U148QAC&quot;, &quot;Marketer&quot;, &quot;Appointment Taker&quot;))</expression>
    </formulas>
    <interviewLabel
  >Appointment Taker - Send Registration Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Taker - Send Registration Emails</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Appointment_Taker_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Increment_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_All_Registered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment_Taker_OLIs</name>
        <label>Get Appointment Taker OLIs</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Init_Email_Body</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4X000004U13iQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4X000004U14AQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4X000004U148QAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointment_Taker_OLIs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Signer_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>External_Online_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMissingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProcessingLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
