force-app/main/default/flows/Appointment_Taker_Send_Registration_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Send_Completed_Email</name>
        <label>Registration Completed Email</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >$Record.Signer_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>attendeeinfo@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Registration Details for your Event</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue
        >&lt;p&gt;Hi {!$Record.Signer_Contact__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you! All event registrations have been assigned to your attendees.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best,&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 34, 68); font-size: 12px;&quot;&gt;Connect Meetings Team&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif;&quot;&gt;&lt;img src=&quot;//:0&quot;&gt;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 34, 68); font-size: 10.5pt; font-family: &amp;quot;Calibri Light&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.informaconnect.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(94, 83, 215); font-size: 12px;&quot;&gt;&lt;u&gt;www.informaconnect.com&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(99, 117, 130); font-size: 9px;&quot;&gt;This electronic message and all contents transmitted with it are confidential and may be privileged. They are intended solely for the addressee. If you are not the intended recipient, you are hereby notified that any disclosure, distribution, copying or use of this message or taking any action in reliance on the contents of it is strictly prohibited. If you have received this electronic message in error, please destroy it immediately, and notify the sender.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(99, 117, 130); font-size: 8pt; font-family: Calibri, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 117, 130); font-size: 9px;&quot;&gt;Informa PLC | Registered in England &amp;amp; Wales No. 8860726 | 5&amp;nbsp;Howick&amp;nbsp;Place&amp;nbsp;| London&amp;nbsp;| SW1P 1WG&lt;/strong&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Action_Send_Follow_Up_Email</name>
        <label>Send Follow Up Email</label>
        <locationX>314</locationX>
        <locationY>1139</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >$Record.Signer_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>attendeeinfo@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Action Required: Attendee Details for your Event Registrations [REG:{!$Record.Id}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Signer_Contact__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Append_Footer</name>
        <label>Append Email Footer</label>
        <locationX>314</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Many thanks,

Connect Meetings Team
www.informaconnect.com

This electronic message and all contents transmitted with it are confidential and may be privileged. They are intended solely for the addressee. If you are not the intended recipient, you are hereby notified that any disclosure, distribution, copying or use of this message or taking any action in reliance on the contents of it is strictly prohibited. If you have received this electronic message in error, please destroy it immediately, and notify the sender.

Informa PLC | Registered in England &amp; Wales No. 8860726 | 5 Howick Place | London | SW1P 1WG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_Follow_Up_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Build_Missing_Line</name>
        <label>Build Missing Attendee Line</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>varMissingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Event: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs.Event_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
   Attendee Name: 
   Attendee Email: 

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Increment_Total</name>
        <label>Increment Total</label>
        <locationX>534</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varTotalCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Is_Missing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Init_Email_Body</name>
        <label>Initialize Email Body</label>
        <locationX>314</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >$Record.Signer_Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,

Thank you for your purchase! Please reply to this email with the attendee name and email address for each registration listed below.

</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_All_Registered</name>
        <label>Are all attendees registered?</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No AT Products</defaultConnectorLabel>
        <rules>
            <name>Outcome_All_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMissingCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_Send_Completed_Email</targetReference>
            </connector>
            <label>All Registered</label>
        </rules>
        <rules>
            <name>Outcome_Missing_Attendees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMissingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTotalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Append_Footer</targetReference>
            </connector>
            <label>Missing Attendees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_Missing</name>
        <label>Is Attendee Info Missing?</label>
        <locationX>534</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Loop_OLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Missing</defaultConnectorLabel>
        <rules>
            <name>Outcome_Yes_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_OLIs.Attendee_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Loop_OLIs.Attendee_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Missing_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >Sends registration emails when Opportunity moves to Closed Won with supported attendee-registration products. Counts missing attendee info and sends appropriate follow-up or confirmation email to the Signer Contact.</description>
    <environments>Default</environments>
    <interviewLabel
  >Appointment Taker - Send Registration Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Taker - Send Registration Emails</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Appointment_Taker_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Increment_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_All_Registered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment_Taker_OLIs</name>
        <label>Get Appointment Taker OLIs</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Init_Email_Body</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4X000004U13iQAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01t4X000004U14AQAS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointment_Taker_OLIs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Signer_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMissingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
