force-app/main/default/flows/Automatically_Update_some_Date_fields_for_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_Flag_for_Deletion_was_changed</name>
        <label>Check if Flag for Deletion was changed</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Check_if_No_Longer_wit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flag_for_Deletion_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flag_for_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Flag_for_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_Flag_for_Deletion_Date_for_triggering_record</targetReference>
            </connector>
            <label>Flag for Deletion was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_No_Longer_wit</name>
        <label>Check if No Longer with Company was changed</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Longer_with_Company_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Longer_with_Company__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_Longer_with_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_No_Longer_with_Company_Date_for_triggering_record</targetReference>
            </connector>
            <label>No Longer with Company was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Sales_Development_Rep_was_changed</name>
        <label>Check if Sales Development Rep was changed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_if_Flag_for_Deletion_was_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Development_Rep_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Development_Rep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Development_Rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_Sales_Developmental_Rep_Date_for_triggering_record</targetReference>
            </connector>
            <label>Sales Development Rep was changed</label>
        </rules>
    </decisions>
    <description>Check and update Sales Development Rep Date, Flag for Deletion, and No Longer with Company Date if conditions are met.</description>
    <environments>Default</environments>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Automatically Update some Date fields for Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically Update some Date fields for Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_the_Flag_for_Deletion_Date_for_triggering_record</name>
        <label>update the Flag for Deletion Date for triggering record</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Check_if_No_Longer_wit</targetReference>
        </connector>
        <inputAssignments>
            <field>Flag_for_Deletion_Date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_No_Longer_with_Company_Date_for_triggering_record</name>
        <label>update the No Longer with Company Date for triggering record</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>No_Longer_with_Company_Date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_Sales_Developmental_Rep_Date_for_triggering_record</name>
        <label>update the Sales Developmental Rep Date for triggering record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Check_if_Flag_for_Deletion_was_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Development_Rep_Date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Sales_Development_Rep_was_changed</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6) OR (7 AND 8 AND 9)</filterLogic>
        <filters>
            <field>Sales_Development_Rep_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Development_Rep__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Development_Rep__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flag_for_Deletion__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flag_for_Deletion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Flag_for_Deletion_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Longer_with_Company__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Longer_with_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>No_Longer_with_Company_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
