force-app/main/default/flows/automatically_update_Top_100_Total_Spend_CON.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_record_to_collection_of_accounts_with_recalculated_Top_100_Total_Spend_CON</name>
        <label>add record to collection of accounts with recalculated Top 100 Total Spend - CON</label>
        <locationX>396</locationX>
        <locationY>2004</locationY>
        <assignmentItems>
            <assignToReference>collection_of_recalculated_records_for_Top100TotalSpendCON</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Top_100_Total_Spend_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Top_100_Total_Spend_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_record_with_year_info_cleared_to_collection</name>
        <label>add record with year info cleared to collection</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>collection_of_accounts_with_Top100TotalSpendCON_minus_year_being_recalculated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_multi_select_value_to_process</name>
        <label>Assign multi-select value to process</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Multi_select_value_to_process</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON.Top_100_Total_Spend_CON__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Top_100_Total_Spend_CON_with_new_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Top_100_Total_Spend_CON_by_appending_a_new_value</name>
        <label>update Top 100 Total Spend - CON by appending a new value</label>
        <locationX>264</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Top_100_Total_Spend_Accounts.Top_100_Total_Spend_CON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Loop_through_Top_100_Total_Spend_Accounts.Top_100_Total_Spend_CON__c};2022</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_record_to_collection_of_accounts_with_recalculated_Top_100_Total_Spend_CON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Top_100_Total_Spend_CON_by_assigning_new_value</name>
        <label>update Top 100 Total Spend - CON by assigning new value</label>
        <locationX>528</locationX>
        <locationY>1788</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Top_100_Total_Spend_Accounts.Top_100_Total_Spend_CON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2022</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_record_to_collection_of_accounts_with_recalculated_Top_100_Total_Spend_CON</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Top_100_Total_Spend_CON_with_new_value</name>
        <label>update Top 100 Total Spend - CON with new value</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON.Top_100_Total_Spend_CON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Top100TSCON_value_minus_year_being_recalculated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_record_with_year_info_cleared_to_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_and_trim_to_top_100_Total_Spend_accounts</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort and trim to top 100 Total Spend accounts</label>
        <locationX>176</locationX>
        <locationY>1428</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_2022_Top_100_Total_Spend_Accounts</collectionReference>
        <connector>
            <targetReference>Loop_through_Top_100_Total_Spend_Accounts</targetReference>
        </connector>
        <limit>100</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>X2022_Total_Spend__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_Top_100_Total_Spend_CON_already_has_a_value</name>
        <label>Check if Top 100 Total Spend - CON already has a value</label>
        <locationX>396</locationX>
        <locationY>1668</locationY>
        <defaultConnector>
            <targetReference>update_Top_100_Total_Spend_CON_by_assigning_new_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_already_a_value_in_Top_100_Total_Spend_CON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Top_100_Total_Spend_Accounts.Top_100_Total_Spend_CON__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Top_100_Total_Spend_Accounts.Top_100_Total_Spend_CON__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Top_100_Total_Spend_CON_by_appending_a_new_value</targetReference>
            </connector>
            <label>There is already a value in Top 100 Total Spend - CON</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>new_Top100TSCON_value_minus_year_being_recalculated</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( 
SUBSTITUTE( 
SUBSTITUTE({!Multi_select_value_to_process}, &quot;[&quot;, &quot;&quot;),
&quot;]&quot;,&quot;&quot;),
&quot;2022&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>automatically update Top 100 Total Spend - CON {!$Flow.CurrentDateTime}</interviewLabel>
    <label>automatically update Top 100 Total Spend - CON</label>
    <loops>
        <name>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON</name>
        <label>Loop through accounts with value in Top 100 Total Spend - CON</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_accounts_with_value_in_Top_100_Total_Spend_CON</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_multi_select_value_to_process</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_account_records_with_new_value_for_Top_100_Total_Spend_CON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Top_100_Total_Spend_Accounts</name>
        <label>Loop through Top 100 Total Spend Accounts</label>
        <locationX>176</locationX>
        <locationY>1548</locationY>
        <collectionReference>Get_2022_Top_100_Total_Spend_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Top_100_Total_Spend_CON_already_has_a_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_the_2022_Top_100_accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2022_Top_100_Total_Spend_Accounts</name>
        <label>Get 2022 Top 100 Total Spend Accounts</label>
        <locationX>176</locationX>
        <locationY>1308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_and_trim_to_top_100_Total_Spend_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2022_Total_Spend__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>X2022_Total_Spend__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Sub_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hotel Sponsor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Sub_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Hotels/Resorts</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0124X000001hhk1</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0124X000001hhk2</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0124X000001hhk3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>X2022_Total_Spend__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_accounts_with_value_in_Top_100_Total_Spend_CON</name>
        <label>Get accounts with value in Top 100 Total Spend - CON</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_accounts_with_value_in_Top_100_Total_Spend_CON</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Top_100_Total_Spend_CON__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Top_100_Total_Spend_CON__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_account_records_with_new_value_for_Top_100_Total_Spend_CON</name>
        <label>Update account records with new value for Top 100 Total Spend - CON</label>
        <locationX>176</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Pause_to_allow_clearing_of_old_Top_100_Total_Spend_CON_values</targetReference>
        </connector>
        <inputReference>collection_of_accounts_with_Top100TotalSpendCON_minus_year_being_recalculated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_2022_Top_100_accounts</name>
        <label>update the 2022 Top 100 accounts</label>
        <locationX>176</locationX>
        <locationY>2220</locationY>
        <inputReference>collection_of_recalculated_records_for_Top100TotalSpendCON</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_accounts_with_value_in_Top_100_Total_Spend_CON</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-16</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collection_of_accounts_with_Top100TotalSpendCON_minus_year_being_recalculated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>collection_of_recalculated_records_for_Top100TotalSpendCON</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Multi_select_value_to_process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <waits>
        <name>Pause_to_allow_clearing_of_old_Top_100_Total_Spend_CON_values</name>
        <label>Pause to allow clearing of old Top 100 Total Spend - CON values</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Get_2022_Top_100_Total_Spend_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pausing_to_allow_record_update</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_2022_Top_100_Total_Spend_Accounts</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$System.OriginDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pausing to allow record update</label>
        </waitEvents>
    </waits>
</Flow>
