force-app/main/default/flows/Automatically_reparent_TSNN_contacts_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This helps with reparenting contacts imported from the migration of Salesforce data for TSNN.</description>
    <environments>Default</environments>
    <interviewLabel>Automatically reparent TSNN contacts created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically reparent TSNN contacts created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_parent_account_for_new_contact_record</name>
        <label>Get parent account for new contact record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reparent_contact_record_to_new_account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Legacy_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Legacy_AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reparent_contact_record_to_new_account_ID</name>
        <label>Reparent contact record to new account ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_parent_account_for_new_contact_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_parent_account_for_new_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>005UX000000xnuL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Legacy_AccountId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Legacy_AccountId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
