force-app/main/default/flows/Backfill_Accounts_with_2026_North_Marketplace_Registrations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Backfill Accounts with 2026 North Marketplace Registrations {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Backfill Accounts with 2026 North Marketplace Registrations</label>
    <loops>
        <name>Loop_Through_2026_Products</name>
        <label>Loop Through 2026 Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_2026_Spring_Marketplace_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Account_Has_2026_Spring_Reg_TRUE</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_2026_Spring_Marketplace_Products</name>
        <label>Get 2026 Spring Marketplace Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_2026_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Spring Marketplace</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2026</stringValue>
            </value>
        </filters>
        <filters>
            <field>OppIsWon__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Has_2026_Spring_Reg_TRUE</name>
        <label>Update Account Has 2026 Spring Reg = TRUE</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_2026_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_2026_Products.Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Has_Connect_Spring_2026_Purchase__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_2026_Spring_Marketplace_Products</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2026-01-21</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
