force-app/main/default/flows/Check_for_accounts_that_bought_MEGA_products_by_year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_Account_ID_to_collection_of_accounts_with_2024_MEGA_sales</name>
        <label>add Account ID to collection of accounts with 2024 MEGA sales</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>AccountIDofaccountsfromSQLofget2024MEGAsales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_thru_get_2024_MEGA_sales_records.Opportunity.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_get_2024_MEGA_sales_records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>get_2024_MEGA_collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>get 2024 MEGA collection</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNextValueToReference>currentItem_get_2024_MEGA_collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_MEGA_sales</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_get_2024_MEGA_collection.Product_Year__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>2024</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_thru_get_2024_MEGA_sales_records</targetReference>
        </connector>
    </collectionProcessors>
    <description>Automatically update the checkboxes that marks an account as having bought into MEGA in particular years.</description>
    <environments>Default</environments>
    <interviewLabel>Check for accounts that bought MEGA products by year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check for accounts that bought MEGA products by year</label>
    <loops>
        <name>Loop_thru_get_2024_MEGA_sales_records</name>
        <label>Loop thru get 2024 MEGA sales records</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>get_all_MEGA_sales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Account_ID_to_collection_of_accounts_with_2024_MEGA_sales</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_accounts_checked_for_Bought_2024_MEGA_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_accounts_checked_for_Bought_2024_MEGA_Products</name>
        <label>get accounts checked for Bought 2024 MEGA Products</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bought_2024_MEGA_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_MEGA_sales</name>
        <label>get all MEGA sales</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_2024_MEGA_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Year__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MEGA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_MEGA_sales</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-16</startDate>
            <startTime>02:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountIDofaccountsfromSQLofget2024MEGAsales</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIDofaccountsthatBought2024MEGAProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_get_2024_MEGA_collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
