force-app/main/default/flows/Copy_Opportunity_Product_x_Number_of_Times.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_copy_to_cloning_collection</name>
        <label>Add copy to cloning collection</label>
        <locationX>789</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductstoCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_record_to_copy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_CurrentCopytoCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_from_record_to_copy</name>
        <label>Assign data from record to copy</label>
        <locationX>604</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>Get_record_to_copy.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_record_to_copy.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>How_many_copies_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_CurrentCopytoCreate</name>
        <label>Increment CurrentCopytoCreate</label>
        <locationX>937</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>CurrentCopytoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_copies_to_create</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_many_copies_to_create</name>
        <label>How many copies to create?</label>
        <locationX>802</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Still_not_enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCopytoCreate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Number_of_Copies_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_copy_to_cloning_collection</targetReference>
            </connector>
            <label>Still not enough</label>
        </rules>
        <rules>
            <name>We_have_enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCopytoCreate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Copies_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_copy_of_input_record</targetReference>
            </connector>
            <label>We have enough</label>
        </rules>
    </decisions>
    <description>This flow will be used in a button to allow the copying of opportunity product records.</description>
    <environments>Default</environments>
    <interviewLabel>Copy Opportunity Product x Number of Times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Opportunity Product x Number of Times</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_copy_of_input_record</name>
        <label>Create copy of input record</label>
        <locationX>1018</locationX>
        <locationY>142</locationY>
        <inputReference>OpportunityProductstoCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_record_to_copy</name>
        <label>Get record to copy</label>
        <locationX>456</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_data_from_record_to_copy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Record_Cloning_Details</name>
        <label>Record Cloning Details</label>
        <locationX>456</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_record_to_copy</targetReference>
        </connector>
        <fields>
            <name>recordToClone</name>
            <fieldText>&lt;p&gt;ID of record to copy: {!recordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>numCopiesMessage</name>
            <fieldText>&lt;p&gt;Please enter the number of copies of this record you wish to create.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_Copies_to_Create</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Copies to Create</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Record_Cloning_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentCopytoCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityProductstoCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
