force-app/main/default/flows/Email_alert_to_Events_when_a_sponsorship_product_is_sold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_alert_that_a_sponsorship_booth_product_was_sold</name>
        <label>Send email alert that a sponsorship/booth product was sold</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Opportunity.Email_alert_to_Events_for_a_sponsorship_product_sold</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_alert_to_Events_for_a_sponsorship_product_sold</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Record_the_number_of_sponsorship_booth_products</name>
        <label>Record the number of sponsorship/booth products</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Count_of_Sponsorship_or_Booth_Products</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_qualified_opportunity_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_there_are_any_sponsorship_booth_products_sold</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_there_are_any_sponsorship_booth_products_sold</name>
        <label>Check if there are any sponsorship/booth products sold</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_sponsorship_booth_product_was_sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_Sponsorship_or_Booth_Products</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_alert_that_a_sponsorship_booth_product_was_sold</targetReference>
            </connector>
            <label>A sponsorship/booth product was sold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email alert to Events when a sponsorship product is sold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email alert to Events when a sponsorship product is sold</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the list of opportunity products we need to generate email alerts for.</description>
        <name>Get_qualified_opportunity_products</name>
        <label>Get qualified opportunity products</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_the_number_of_sponsorship_booth_products</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Also_Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sponsorship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Also_Product_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Booth</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_qualified_opportunity_products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count_of_Sponsorship_or_Booth_Products</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
