force-app/main/default/flows/Email_alert_to_Marketing_for_a_very_specific_Sponsorship_that_is_sold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_alert_for_a_very_specific_Sponsorship_product_that_is_sold</name>
        <label>Email alert for a very specific Sponsorship product that is sold</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <actionName>OpportunityLineItem.Email_alert_to_Marketing_for_a_specific_Sponsorship_that_is_sold</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Process_list_of_products_for_email_alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Process_list_of_products_for_email_alerts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityLineItem.Email_alert_to_Marketing_for_a_specific_Sponsorship_that_is_sold</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This is requested by Vincent for a specific Sponsorship that is only sold on 12/8/2022.</description>
    <environments>Default</environments>
    <interviewLabel>Email alert to Marketing for a very specific Sponsorship that is sold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email alert to Marketing for a very specific Sponsorship that is sold</label>
    <loops>
        <name>Process_list_of_products_for_email_alerts</name>
        <label>Process list of products for email alerts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_qualified_opportunity_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_alert_for_a_very_specific_Sponsorship_product_that_is_sold</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the list of opportunity products we need to generate email alerts for.</description>
        <name>Get_qualified_opportunity_products</name>
        <label>Get qualified opportunity products</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_list_of_products_for_email_alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Digital</stringValue>
            </value>
        </filters>
        <filters>
            <field>Also_Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sponsorship</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2022</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owned BizBash Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>2022-12-08</dateValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>2022-12-08</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_qualified_opportunity_products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
