force-app/main/default/flows/Event_Registration_Process_Attendee_Reply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Sends a failure notification email for attendee reply processing.</description>
        <name>Action_Send_Failure_Notification</name>
        <label>Send Failure Notification</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mac.kitchin@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>attendeeinfo@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >[Attendee Reply][FAILED] {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Flow: Event Registration - Process Attendee Reply
Result: Failed

Account: {!Get_Opportunity_Details.Account.Name}
Opportunity: {!Get_Opportunity_Details.Name}
OpportunityId: {!$Record.RelatedToId}
Contact: {!$Record.FromName}
Contact Email: {!$Record.FromAddress}

EmailMessageId: {!$Record.Id}
Status Message: {!varStatusMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <connector>
            <targetReference>Decision_Needs_Task</targetReference>
        </connector>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description
    >Sends a success notification email for attendee reply processing.</description>
        <name>Action_Send_Success_Notification</name>
        <label>Send Success Notification</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mac.kitchin@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>attendeeinfo@informa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >[Attendee Reply][SUCCESS] {!$Record.Subject}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Flow: Event Registration - Process Attendee Reply
Result: Success

Account: {!Get_Opportunity_Details.Account.Name}
Opportunity: {!Get_Opportunity_Details.Name}
OpportunityId: {!$Record.RelatedToId}
Contact: {!$Record.FromName}
Contact Email: {!$Record.FromAddress}

EmailMessageId: {!$Record.Id}
Status Message: {!varStatusMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <connector>
            <targetReference>Decision_Needs_Task</targetReference>
        </connector>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Attendee_Processing_Log</name>
        <label>Create Attendee Processing Log</label>
        <locationX>176</locationX>
        <locationY>269</locationY>
        <actionName>AttendeeProcessingLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extract_Attendee_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingType</name>
            <value>
                <stringValue>Inbound Reply</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailMessageId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderEmail</name>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>$Record.FromName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipients</name>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue
        >Event_Registration_Process_Attendee_Reply</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogger</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varProcessingLogId</assignToReference>
            <name>processingLogId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description
    >Calls your Flex Prompt Template to parse the email body into attendee JSON</description>
        <name>Extract_Attendee_Information</name>
        <label>Extract Attendee Information</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Extract_Attendee_Information</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Processing_Log_After_AI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:EmailMessage</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Extract_Attendee_Information</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Processing_Log_After_AI</name>
        <label>Update Processing Log After AI</label>
        <locationX>176</locationX>
        <locationY>377</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference
      >Pass_to_Agent_to_Process_Attendees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aiRawResponse</name>
            <value>
                <elementReference
        >Extract_Attendee_Information.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description
    >Passes the JSON + RelatedToId (Opportunity) to the Apex invocable class</description>
        <name>Pass_to_Agent_to_Process_Attendees</name>
        <label>Pass to Agent to Process Attendees</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>ProcessAppointmentTakerAttendees</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Is_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference
        >Extract_Attendee_Information.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProcessAppointmentTakerAttendees</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAttendeesProvided</assignToReference>
            <name>attendeesProvided</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAttendeesAssigned</assignToReference>
            <name>attendeesAssigned</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAttendeesNotAssigned</assignToReference>
            <name>attendeesNotAssigned</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varOpenSlotsRemaining</assignToReference>
            <name>openSlotsRemaining</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varFinalStatus</assignToReference>
            <name>finalStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varErrorCategory</assignToReference>
            <name>errorCategory</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varIsSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varStatusMessage</assignToReference>
            <name>statusMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Processing_Log_Success_Result</name>
        <label>Update Processing Log Success Result</label>
        <locationX>50</locationX>
        <locationY>593</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_Success_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>varFinalStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesProvided</name>
            <value>
                <elementReference>varAttendeesProvided</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesAssigned</name>
            <value>
                <elementReference>varAttendeesAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesNotAssigned</name>
            <value>
                <elementReference>varAttendeesNotAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openSlotsRemaining</name>
            <value>
                <elementReference>varOpenSlotsRemaining</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorCategory</name>
            <value>
                <elementReference>varErrorCategory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Processing_Log_Failure_Result</name>
        <label>Update Processing Log Failure Result</label>
        <locationX>314</locationX>
        <locationY>593</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_Failure_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Action_Send_Failure_Notification</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>varFinalStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesProvided</name>
            <value>
                <elementReference>varAttendeesProvided</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesAssigned</name>
            <value>
                <elementReference>varAttendeesAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attendeesNotAssigned</name>
            <value>
                <elementReference>varAttendeesNotAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openSlotsRemaining</name>
            <value>
                <elementReference>varOpenSlotsRemaining</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>varStatusMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorCategory</name>
            <value>
                <elementReference>varErrorCategory</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Update_Processing_Log_Failure_Fault</name>
        <label>Update Processing Log Failure Fault</label>
        <locationX>500</locationX>
        <locationY>485</locationY>
        <actionName>AttendeeProcessingLogUpdater</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Action_Send_Failure_Notification</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Action_Send_Failure_Notification</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>varStatusMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorCategory</name>
            <value>
                <stringValue>Flow Error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AttendeeProcessingLogUpdater</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description
    >Queries assignment detail records and formats them for the AI summary prompt.</description>
        <name>Build_Failure_Context</name>
        <label>Build Failure Context</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>BuildFailureContext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Failure_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Task_Creation_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processingLogId</name>
            <value>
                <elementReference>varProcessingLogId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusMessage</name>
            <value>
                <elementReference>varStatusMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference
        >Get_Opportunity_Details.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuildFailureContext</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varFormattedContext</assignToReference>
            <name>formattedContext</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description
    >Calls the AI prompt template to generate a plain-English failure summary.</description>
        <name>Generate_Failure_Summary</name>
        <label>Generate Failure Summary</label>
        <locationX>50</locationX>
        <locationY>917</locationY>
        <actionName>Attendee_Assignment_Failure_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Task_Creation_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:FailureContext</name>
            <value>
                <elementReference>varFormattedContext</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Attendee_Assignment_Failure_Summary</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description
    >Creates a Salesforce Task assigned to Mac Kitchin with the AI-generated failure summary.</description>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow-Up Task</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>CreateFollowUpTask</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Assign_Task_Creation_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aiSummary</name>
            <value>
                <elementReference
        >Generate_Failure_Summary.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference
        >Get_Opportunity_Details.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusMessage</name>
            <value>
                <elementReference>varStatusMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateFollowUpTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Fault_Message</name>
        <label>Capture Fault Message</label>
        <locationX>500</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Update_Processing_Log_Failure_Fault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description
    >Silently absorbs faults from the follow-up task creation chain to prevent a loop back through Decision_Needs_Task.</description>
        <name>Assign_Task_Creation_Fault</name>
        <label>Absorb Task Creation Fault</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varStatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Is_Success</name>
        <label>Is Success?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference
      >Update_Processing_Log_Failure_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Outcome_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Update_Processing_Log_Success_Result</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <description
    >Checks whether a follow-up Task should be created. Fires for Partial Success and Failed outcomes.</description>
        <name>Decision_Needs_Task</name>
        <label>Needs Follow-Up Task?</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No Task Needed</defaultConnectorLabel>
        <rules>
            <name>Outcome_Needs_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFinalStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFinalStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Failure_Context</targetReference>
            </connector>
            <label>Task Needed</label>
        </rules>
    </decisions>
    <description
  >Processes incoming email replies to extract attendee information via AI prompt and updates supported registration line items on the related Opportunity.</description>
    <environments>Default</environments>
    <interviewLabel
  >Event Registration - Process Attendee Reply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Registration - Process Attendee Reply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Attendee_Processing_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue
        >Action Required: Attendee Details for your Event Registrations</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAttendeesAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAttendeesNotAssigned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAttendeesProvided</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varErrorCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinalStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormattedContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpenSlotsRemaining</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProcessingLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
