force-app/main/default/flows/Event_Registration_Process_Attendee_Reply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Attendee_Information</name>
        <label>Extract Attendee Information</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <actionName>Extract_Attendee_Information</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Pass_to_Agent_to_Process_Attendees</targetReference>
        </connector>
        <inputParameters>
            <name>Input:EmailMessage</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Pass_to_Agent_to_Process_Attendees</name>
        <label>Pass to Agent to Process Attendees</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <actionName>ProcessAppointmentTakerAttendees</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Is_Success</targetReference>
        </connector>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>Extract_Attendee_Information.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varIsSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varStatusMessage</assignToReference>
            <name>statusMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Decision_Is_Success</name>
        <label>Is Success?</label>
        <locationX>176</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Outcome_Success</name>
            <label>Success</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
        </rules>
    </decisions>
    <description>Processes incoming email replies to extract attendee information via AI prompt and updates Appointment Taker line items on the related Opportunity.</description>
    <interviewLabel>Event Registration - Process Attendee Reply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Registration - Process Attendee Reply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_Attendee_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsIncoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Action Required: Attendee Details for your Event Registrations</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varIsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
