force-app/main/default/flows/Set_Campaign_Start_Date_on_Opportunity_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Line_Have_Impression_Delivery</name>
        <label>Does Line Have Impression Delivery</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Product_Year</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Impressions_Delivered__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Impressions_Delivered__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Start_Date</targetReference>
            </connector>
            <label>Has Delivery</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CampaignStartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <formulas>
        <name>ProductYearStoredAsText</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.AB2__ABStartDate__c}),
  NULL,
  TEXT(YEAR({!$Record.AB2__ABStartDate__c}))
)</expression>
    </formulas>
    <interviewLabel>Set Campaign Start Date on Opportunity Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Campaign Start Date on Opportunity Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Campaign_Start_Date</name>
        <label>Set Campaign Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Campaign_Start_Date__c</field>
            <value>
                <elementReference>CampaignStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Product_Year</name>
        <label>Set Product Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.AB2__ABEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Year__c</field>
            <value>
                <elementReference>ProductYearStoredAsText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.AB2__ABStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Line_Have_Impression_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AB2__ABDropID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
